html { background-image: url('/static/images/background-web.jpg'); background-size: cover; }

body {
    font-family: 'Trebuchet', sans-serif; background: #fffb; min-height: 100vh; margin: 0; padding: 264px 0 1em; box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f0f0f0;
    z-index: 2;
}

header > div {
    position: relative; box-sizing: border-box;
    min-height: 264px; max-width: 1200px;
    margin: auto; padding-top: 1em; padding-left: 160px; 
    background-image: url('/static/logos/logo-red-cropped.png'); 
    background-repeat: no-repeat; background-position: top left; background-size: auto 10em;
    font-size: 24px;
}

header > div > a {
    display: block;
    width: 10em; height: 10em;
    position: absolute; top: 0; left: 0;
}

header h1 { text-align: center; color: #700; }

header h1 > em { font-size: 68%; white-space: nowrap;}

header nav { display: block; width: fit-content; margin: auto; }
header nav > ul { list-style: none; margin: 0; padding: 0; }
header nav > ul > li {
    display: inline;
    font-size: 125%;
    margin: auto 0.4em;
    color: #700;
}

nav > ul > li > a {
    color: inherit;
    text-decoration: double underline 1px;
}

body[data-page=services] a[href="/services.html"],
body[data-page=about] a[href="/about.html"],
body[data-page=contact] a[href="/contact.html"] {
    font-weight: bolder;
    text-decoration: none;
    color: #007;
}

a {
    color: #007;
    text-decoration: solid underline 1px;
    text-underline-offset: 0.1em;
}

main { max-width: 70vw; margin: auto; font-size: 20px;}

section.largefont { font-size: 200%;}

section > strong {
    display: block;
    margin: 0.5em 1em;
    width: 100%;
    text-align: center;
}

.code {
    font-family: monospace;
    font-size: 110%;
}

.standout {
    color: #007;
}

#carousel { margin-top: 2em; width: 70vw; aspect-ratio: 16/10; }

#carousel img {
    position: absolute; width: 70vw; aspect-ratio: 16/10; object-fit: cover; z-index: 1;
    opacity: 1; transition: opacity 2.5s linear 1.5s;
}

#carousel img.fade { opacity: 0; }
#carousel img.pop { transition-delay: 0s; opacity: 1; }