{% extends 'index.html' %}

{%block title %}About{% endblock %}

{% block maincontent %}
<article>
<h2>About Technovoce</h2>
<h3>History</h3>
<p>Technovoce was set up by Jim McGrath in 2015 as a response to the lack of audio technologist specialising in spoken word. 
Jim applied his knowledge and experience of working with local theatre groups, poets and authors and created Technovoce to service this growing sector.</p>
<h3>Development</h3>
<p>Since then, Technovoce has continued to grow, constantly expanding both our range of offerings and the sectors we serve.
Technovoce now provide technical staff and services for: acoustic control, live music, theatres, audio plays and podcasts, and work across technical fields including sound, lighting and software development.</p>
<p>Whatever your needs, <a href="{{ url_for('.services') }}" title="our services">Technovoce has a service to suit you</a>.</p>
</article>
{% endblock %}