{% extends 'index.html' %}

{% block maincontent %}
<article>
<h2>About Technovoce</h2>
<h3>History</h3>
<p>Technovoce was set up by Jim McGrath in 2015 as a response to the lack of audio technologist specialising in spoken word. 
Jim applied his knowledge and experience of working with local theatre groups, poets and authors and created Technovoce to service this growing sector.</p>
<h3>Development</h3>
<p>Since then, Technovoce has continued to grow, providing technical staff and services in a range of settings, including acoustic control and live music, as well as continuing to work in theatres and on audio plays and podcasts.</p>
<p>Whatever your audio needs, Technovoce has a service to suit you.</p>
</article>
{% endblock %}