{% extends 'index.html' %}

{%block title %}About{% endblock %}

{% block headxtns %}{% endblock %}

{% block maincontent %}
<article>
<p>Technovoce was created when our founder, Jim McGrath, realised that the huge growth of podcasting, audiobooks, and self-publishing in the modern world required the support of sound technicians who could specialise in the spoken word. For more than a decade since, Jim has been helping &ldquo;wordy&rdquo; people achieve the perfect sound for their audiences, whether online, in bars and theatres, or even in their local parks.</p>
<p>Technovoce has continued to grow, expanding both our range of offerings and the sectors we serve. We now provide technical staff and services related to acoustic control, live music, theatre, audio plays, and podcasts, working across and within a range of technical fields including sound, lighting, and software development.</p>
<p>Whatever your needs, <a href="{{ url_for('.services') }}" title="our services">Technovoce has a service to suit you</a>.</p>
</article>
{% endblock %}