<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Technovoce - Voice Technology: Home {% endblock %}</title>
        <style>
            body {
                font-family: 'Trebuchet', sans-serif;
            }
        </style>
        {% block headxtns %}{% endblock %}
    </head>
    <body>
        <header>
        <div style="width: 1000px; height: 300px; margin: auto; padding-left: 150px; background-image: url('{{url_for('static', filename='logos/TV-faded.png')}}'); background-repeat: no-repeat; background-position: top left;"><h1>Technovoce: Voice Technology</h1></div>
        </header>
        <nav></nav>
        <main>
        </main>
    </body>
</html>