{% extends 'index.html' %}

{%block title %}Services{% endblock %}

{% block headxtns %}{% endblock %}

{% block maincontent %}
<article>
<p>We are here to help you sound better!</p>
<p>Whether that means making sure your book launch reading is crystal clear, applying the finishing touches to a podcast or radio play, or dialling your band's sound in to the perfect mix for the venue, we can provide both the people and technology required to ace the job at hand.</p>
<p>And if &ldquo;you&rdquo; are a larger group, we have experience running full sound and light services for all styles of show: we can even get you and your equipment to venues and set up with ease with our fully-loaded touring support service.</p>
<p>All our services are fully-bespoke, so <a href="{{ url_for('.contact') }}">get in touch today</a> to start your journey towards a better show.</p>
<h3> Coming soon: <span class="code">technovoce.dev</span></h3>
<p>Our technical staff don't just do sound and lighting: the experienced software engineers on our team can provide additional programming and customisation for all those unique projects that don't yet have a perfect &ldquo;off the shelf&rdquo; solution, as well as offering a range of additional tools for all creators and performers. Watch out for our roll-out of public betas of the tools we use day-to-day, including q-scene: a simple, web-based, cross-platform sound queuing program for theatre productions.</p>
<p>Whatever you need for your creative productions, <a href="{{ url_for('.contact') }}">contact Technovoce</a> to find out what we can do for you.</p>
</article>
{% endblock %}