{% extends 'index.html' %}

{%block title %}Services{% endblock %}

{% block maincontent %}
<article>
<h2>Our Services</h2>
<p>Technovoce provides services through a range of sub-brands, allowing us to focus our expertise to your requirements</p>
<h3 class="standout">Technovoce: <em>Voice Technology</em></h3>
<p>Our main service is providing live sound support for venues and performers who want a professional sound tailored to their requirements.
From poetry jams to 'Rat Pack' shows, we have the experience to give your audience exactly the sound you want.</p>
<h3>Technovoce Studios</h3>
<p>Our recording services focus on spoken word application, like audiobooks, podcasts and radio plays. We can provide any level of service from simple one-off recordings to fully produced shows with music and foley work.
We handle the technical side so you can let your creativity flow!</p>
<h3>Technovoce Productions</h3>
<p>Tapping into our event management experience, we can provide support for the planning and production of your shows.
From helping with venue hire to providing full technical setting and operation, we'll be by your side as you bring your show from page to stage.</p>
<h3 class="code">technovoce.dev</h3>
<p>Our technical staff don't just do sound and lighting. We also provide software development services if your venue or show needs something special that can't be bought &ldquo;off the shelf&rdquo;.</p>
<p>Watch out for public releases of our in-house software: our web-based audio queueing program, q-scene, is currently in testing and will be made available for general use soon!</p>
<h3>Anything Else?</h3>
<p>We're happy to help out with other jobs that require technical expertise and an understanding of sound, like acoustic testing and noise surveys.
If you're looking for friendly and helpful staff with good technical knowledge, why not drop us a line and disucss your requirements.</p>
<p>Whatever service you're looking for, feel free to <a href="{{ url_for('.contact') }}">get in touch</a>.</p>
</article>
{% endblock %}